/* Side bar dashboard */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jura:wght@300..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

/* Overall */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jura:wght@300..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');


/* Styling start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

body {
    height: 100vh;
}


.container {
    display: grid;
    grid-template-columns: minmax(300px, 400px) 4fr;
}


/* Side bar */

.sidebar {
    /* height: 100vh; */
    grid-column: 1 / 2;
    background-color: lightseagreen;
    color: white;

    /* Internal layout for sidebar */
    display: grid;
    grid-template-rows: minmax(100px, 150px) 1fr 1fr;
}

.top svg {
    height: 80px;
    width: 80px;
}

.top {
    align-self: self-start;
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.top p {
    font-family: Silkscreen, serif;
    font-size: 30px;
}

.middle,
.bottom {
    padding: 20px;
}

.middle > p,
.bottom > p {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}


.middle svg,
.bottom svg {
    height: 30px;
    width: 30px;
}


/* content */

.content {
    grid-column: 2 / 3;
    background-color: lightgray;
}


/* Header: Top & Bottom */

.header {
    background-color: white;
}

.header-top,
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

/* Header: Search box & User profile */

.search-zone {
    display: flex;
    column-gap: 20px;
}

.search-zone svg {
    height: 30px;
    width: 30px;
}

.search-zone input {
    min-width: 300px;
    width: 600px;
    border-radius: 15px;
    padding: 0 15px;
    border: 1px solid lightgrey;
}


.user-profile {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.user-profile svg:first-of-type {
    height: 30px;
    width: 30px;
}

.user-profile svg:nth-of-type(2) {
    height: 60px;
    width: 60px;
}

#username {
    font-weight: bold;
}


/* Navigation bar: Greeting and Action buttons --> New, Upload & Share */

.welcome {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.welcome svg {
    height: 70px;
}

.welcome span {
    font-size: 20px;
    font-weight: bold;
}


.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 120px));
    column-gap: 20px;
}

.action-buttons input {
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: rgb(66, 191, 233);
    color: white;
    font-weight: bold;
}


/* body */

.body {
    display: grid;
    grid-template-columns: 4fr 2fr;
}



/* projects */

.projects {
    grid-column: 1 / 2;
}

.projects > p {
    padding-left: 20px;
    margin: 25px 0 10px 0;
    font-size: 18px;
}

.projects > div {
   
    /* Internal grid for project cards */
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 450px));
    gap: 20px;
    justify-content: space-around;
}

.card {
    background-color: orange;
    border-radius: 10px;
}

.card > div {
    width: 98%;
    height: 100%;
    background-color: white;
    margin-left: auto;
    border-radius: 0 10px 10px 0;
    padding: 30px 20px;
}

.card p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.card p:nth-of-type(2) {
    font-size: 12px;
    margin-bottom: 30px;
}

.card p:last-child {
    text-align: right;
}

.card svg {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}


/* Side panel for Announcement & Trending */

aside {
    grid-column: 2 / 3;
    padding-right: 20px;
}

aside > div > p:first-child {
    margin: 25px 0 10px 0;
    font-size: 18px;
}


.topic-list {
    background-color: white;
    border-radius: 10px;
}

.topic > div {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px dotted lightslategray;
    padding: 20px 0;
}

.topic p:nth-of-type(1) {
    font-weight: bold;
}

.topic p:nth-of-type(2) {
    font-size: 12px;
}


.user-trend {
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 10px 0 10px 20px;
}

.user svg {
    height: 45px;
    width: 45px;
}